/*  your css code here. If applicable */
body{
	display:flex;
	justify-content:center;
	align-items:center;
	height:100vh;
}
div{
		display:flex;
	justify-content:center;
	align-items:center;
	background-color:lightblue;
	height:200px;
	width:200px;
	border: 2px solid black
}
h3{
	color:purple;
	
}